<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Choose Your Account</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/bridge/account/account.css">
        <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E%22%3E">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </head>
<body>
    <img class="logo" src="/bridge/account/Group 2.svg" alt="">
    <div id = 'text'>
        <h1 class='acc'>Choose your</h1>
        <h1 class="acc1">account type</h1>
        <h1 class = 'accsub'>To get started with Wildfire, choose your starting account type below.</h1>
    </div>
    
    <a href="">
        <div class = 'survey'>
            <img class = 'check' src="/bridge/account/check.svg" alt="">
            <h1 class = 'survportal'>Wildfire Surveyers’ Portal</h1>
            <h1 class = 'survportal1'>For organizations looking to create and deploy their own market research surveys to the web.</h1>
            <img class="arrow" src="/bridge/account/arrowww.svg" alt="">
        </div>
    </a>
    <a href="">
        <div class="storee">
            <img class = 'store' src="/bridge/account/store.svg" alt="">
            <h1 class = 'hostport'>Wildfire Hosts’ Portal</h1>
            <h1 class = 'hostport1'>For organizations looking to embed surveys on their sites and applications to supplement revenue.</h1>
            <img class="arrow1" src="/bridge/account/arrowww.svg" alt="">
        </div>
    </a>
    <h1 class = 'alracc'>Already have an account? </h1>
    <a class = 'log' href="/login.hbs">Log in instead</a>

</body>
</html>