input:focus{
    border: 1px solid #EE2F15;
    box-shadow: 0px 0px 0px 4px rgba(238, 47, 21, 0.1);
    border-radius: 7px;
    outline: none;
  }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    width: 1280px;
    height: 689px;
  }
  
  button {
    font-family: "poppins";
    outline: none;
  }
  
  input {
    outline: none;
  }
  
  header {
    display: flex;
    width: 96%;
    height: 12vh;
    margin: auto;
    align-items: center;
  }
  #sideBar{
    position: absolute;
    width: 248px;
    height: 689px;
    left: 0px;
    top: 0px;
    
    background: #000634;
  }
#title{
  position: absolute;
left: 30.65%;
right: 43.95%;
top: 2.1%;
bottom: 94.75%;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;

color: #FFFFFF;
}
#subTitle{
  position: absolute;
left: 30.65%;
right: 6.85%;
top: 5.25%;
bottom: 92.39%;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 18px;

color: rgba(255, 255, 255, 0.5);
}
#logo{
position: absolute;
width: 48px;
height: 48px;
left: 20px;
top: 11px;
}
.dashDiv{
  position: absolute;
  left: 14px;
  right: 15px;
  top: 89px;
  bottom: 558px;
  width: 219px;
  height: 42px;


  border-radius: 5px;
}

.dashDiv:hover{
    background-color:rgba(255, 255, 255, 0.15);;
  }

.leftArrow{
    position: absolute;
    top: 22px;
    right: 24px;
}

#hDash{
  position: absolute;
  left: 62px;
  right: 72px;
  top: 10px;
  bottom: 12px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  
  color: rgba(255, 255, 255, 0.5);
}
.lDash{
  position: absolute;
  left: 21px;
  right: 180px;
  top: 10px;
  bottom: 215px;
}
.firesDiv{
  position: absolute;
  left: 14px;
  right: 15px;
  top: 141px;
  bottom: 506px;
  width: 219px;
  height: 42px;
  color: white;
  
  border-radius: 5px;
  background: #EE3C15;
}

.hFires{
  position: absolute;
  left: 62px;
  right: 119px;
  top: 12px;
  bottom: 11px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  
  color: white;
}
.lFires{
  position: absolute;
left: 21px;
right: 180px;
top: 12px;
bottom: 12px;
}
.analyticsDiv{
  position: absolute;
  left: 14px;
  right: 15px;
  top: 193px;
  bottom: 454px;
  width: 219px;
  height: 42px;
  
  background: #000634;
  border-radius: 5px;
}
.lAnalytics{
  position: absolute;
  left: 21px;
  right: 180px;
  top: 11px;
  bottom: 12px;
  
}
.hAnalytics{
  position: absolute;
  left: 62px;
  right: 84px;
  top: 12px;
  bottom: 11px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  
  color: rgba(255, 255, 255, 0.5);
  
}
.exploreDiv{
  position: absolute;
  left: 14px;
  right: 15px;
  top: 247px;
  bottom: 400px;
  width: 219px;
  height: 42px;
  
  background: #000634;
  border-radius: 5px;
}
.lExplore{
  position: absolute;
  left: 21px;
  top: 11px;
  right: 180px;
  bottom: 54px;

}
.hExplore{
  position: absolute;
  left: 62px;
  right: 98px;
  top: 12px;
  bottom:11px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  
  color: rgba(255, 255, 255, 0.5);
}
.settingsDiv{
  position: absolute;
  left: 14px;
  right: 15px;
  top: 301px;
  bottom: 346px;
  width: 219px;
  height: 42px;
  
  background: #000634;
  border-radius: 5px;
}
.lSettings{
  position: absolute;
  left: 21px;
  right: 180px;
  top: 11px;
  bottom: 1px;

}
.hSettings{

  position: absolute;
  left: 63px;
  right: 91px;
  top: 11px;
  bottom: 12px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  
  color: rgba(255, 255, 255, 0.5);
}
.profPic{
  position: absolute;
  left: 22px;
  right: 186px;
  top: 630.65px;
  bottom: 18.35px;
  
  background: url(photo-1529665253569-6d01c0eaf7b6.jpg);
  border-radius: 100px;
}
.name{
  position: absolute;
  left: 77px;
  right: 65px;
  top: 636px;
  bottom: 34.1px;
  
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  
  color: #FFFFFF;
}
.role{
  position: absolute;
  left: 77px;
  right: 95px;
  top: 656px;
  bottom: 19.44px;
  
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 15px;
  
  color: rgba(255, 255, 255, 0.5);
}

.topBar{
    position: absolute;
    width: 1032px;
    height: 109px;
    left: 248px;
    top: 0px;
    
    background: #F9F9F9;
  }

.covidPop{
    position: absolute;
    width: 179px;
    height: 33px;
    left: 101px;
    top: 17px;
    
    background: #000634;
    border-radius: 4px;
}

.covidPopulationTxt{
    position: absolute;
    top: 9px;
    left: 17px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}

.topArrowDown{
    position: absolute;
    left: 157px;
    top: 14px;
}

  .firesHead{
    position: absolute;
    left: 42px;
    right: 947px;
    top: 22px;
    bottom: 65px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    
    color: #000634;
  }
  .hHOme{
    position: absolute;
    left: 42px;
    right: 956px;
    top: 78px;
    bottom: 16px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    text-transform: capitalize;
    color: #B9C0C9;
    
  }
  .hSparks{
    position: absolute;
    left: 114px;
    right: 878px;
    top: 78px;
    bottom: 16px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    text-transform: capitalize;
    
    color: #B9C0C9;
}
  .hData{
    position: absolute;
    left: 196px;
    right: 809px;
    top: 78px;
    bottom: 16px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    text-transform: capitalize;
    
    color: #B9C0C9;
  }
  .hPreferences{
    position: absolute;
    left: 262px;
    right: 700px;
    top: 78px;
    bottom: 16px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    text-transform: capitalize;
    
    color: #702DFF;

  }
  .upgradeDiv{
    
    background: #EE3C15;
    border-radius: 5px;
  
    position: absolute;
    left: 672px;
    right: 235px;
    top: 14px;
    bottom: 58px;
    position: absolute;
    width: 125px;
    height: 37px;
  
  }
  .upgrade{
    position: absolute;
    left: 47px;
    top: 9px;
    right: 20px;
    bottom: 11px;
    
    color: #FFFFFF;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
  
    
  }
  .chat{
    position: absolute;
    left: 834px;
    right: 163px;
    top: 17px;
    bottom: 57px;
    border-radius: 5px;
  }
  .bell{
    position: absolute;
    left: 907px;
    right: 107.84px;
    top: 22px;
    bottom: 67px;
  }
  .pfp2{
    position: absolute;
    left: 950px;
    right: 52px;
    top: 14px;
    bottom: 65px;
    border-radius: 100px;
  }
  .upgradeP{
    position: absolute;
    left: 17px;
    right: 94px;
    top: 9px;
    bottom: 10px;
    
  }
  .chatP{
    position: absolute;
    left: 7px;
    right: 5.98px;
    top: 7px;
    bottom: 8px;
  }
  .plus{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1187px;
    top: 603px;
    border-radius: 50%;
    
    background: #702DFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  }
  .plusimg{
    position: absolute;
    left: 17px;
    right: 17px;
    top: 17px;
    bottom: 17px;
  
  }
  .upgradeDiv:hover{
    background-color: #DC481A;
  }
  .line{
    position: absolute;
    width: 50px;
    height: 0px;
    left: 270px;
    top: 104px;

    border: 2px solid #702DFF;
    border-radius: 5px;
    background: #702DFF;
  }
  .arroww{
    position: absolute;
    left: 1003px;
    right: 18px;
    top: 29px;
    bottom: 74px;
  }

  .genDetails{
    position: absolute;
    left: 290px;
    top: 144px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    
    color: #000634;
  }

  .topLine{
    position: absolute;
    width: 951px;
    height: 0px;
    left: 290px;
    top: 183px;
    
    border: 1px solid rgba(185, 192, 201, 0.4);
  }

  .surveyName{
    position: absolute;
    left: 22.66%;
    right: 71.33%;
    top: 29.17%;
    bottom: 68.65%;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */


    color: #EE3C15;
  }

  .authID{
    position: absolute;
    left: 22.66%;
    right: 73.91%;
    top: 40.64%;
    bottom: 57.18%;
    
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    
    color: #EE3C15;
  }

  .surveyType{
    position: absolute;
    left: 22.66%;
    right: 71.56%;
    top: 51.81%;
    bottom: 46.01%;
    
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    
    color: #EE3C15;
  }

  .surveyTopic{
    position: absolute;
    left: 22.66%;
    right: 71.33%;
    top: 72.42%;
    bottom: 25.4%;
    
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    
    color: #EE3C15;
  }

  .saveChanges{
    position: absolute;
    width: 135px;
    height: 37px;
    left: 290px;
    top: 604px;
    background: #000634;
    border-radius: 4px;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #FFFFFF;
  }

  .deleteSurvey{
    position: absolute;
    width: 162px;
    height: 37px;
    left: 444px;
    top: 604px;
    
    background: #EE1515;
    border-radius: 4px;
  }

  .deleteSurveyTxt{
    position: absolute;
    left: 46px;
    top: 10px;  
      
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #FFFFFF;
  }

  .trash{
      position: absolute;
      left: 14px;
      top: 9.5px;
  }

  .surveyNameInput{
    position: absolute;
    width: 399px;
    height: 37px;
    left: 290px;
    top: 223px;
    
    background: rgba(238, 60, 21, 0.1);
    border: 1px solid #EE2F15;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 15px;
  }

  .surveyNameInput:focus {
    background: white;
    border: 1px solid #EE2F15;
    box-shadow: 0px 0px 0px 4px rgba(238, 47, 21, 0.1);
  }

  .copyToClipboard{
    position: absolute;
    width: 399px;
    height: 37px;
    left: 290px;
    top: 302px;
    
    background: #EE3C15;
    border-radius: 4px;
  }

  .ID{
    position: absolute;
    left: 15px;
    top: 10px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    
    color: #FFFFFF;
  }

  .clipboard{
    position: absolute;
    left: 373px;
    top: 11px;
  }

  .alertCopy{
    position: absolute;
    width: 500px;
    height: 30px;
    left: 100px;
    top: 35px;
    display: none;
  }
  
  .alertText{
    position: absolute;
    font-size: 7px;
    font-weight: bold;

  }


.clipboard:hover{
    cursor: pointer;
}

.widescreenCard{
    position: absolute;
    width: 262px;
    height: 91px;
    left: 290px;
    top: 392px;
    
    background: rgba(238, 60, 21, 0.1);
    border-radius: 4px;
}

.widescreenCard:hover{
  background: rgba(238, 60, 21, 0.15);
}

.widescreenImg{
    position: absolute;
    width: 28px;
    height: 19px;
    left: 15px;
    top: 14px;

    border: 1px dashed #EE3C15;;
    border-radius: 2px;
}

.eightHundred{
    position: absolute;
    left: 15px;
    top: 44px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    color: #EE3C15;;
}

.widescreen{
    position: absolute;
    left: 15px;
    top: 67px;

    font-family: Inter;
    font-style: light;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */


    color: #EE3C15;;
}

.squareCard{
    position: absolute;
    width: 262px;
    height: 91px;
    left: 594px;
    top: 392px;

    background: rgba(112, 45, 255, 0.1);;
    border-radius: 4px;
}

.squareCard:hover{
  background: rgba(112, 45, 255, 0.15);
}

.squareImg{
    position: absolute;
    width: 28px;
    height: 19px;
    left: 20px;
    top: 12px;

    border: 1px dashed #702DFF;
    border-radius: 2px;
}

.fourhundred{
    position: absolute;
    left: 18px;
    top: 40px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    color: #702DFF;

}

.square{
    position: absolute;
    left: 20px;
    top: 66px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */


    color: #702DFF;
}

.voiceCard{
    position: absolute;
    width: 262px;
    height: 91px;
    left: 898px;
    top: 392px;

    background: rgba(0, 24, 217, 0.1);
    border-radius: 4px;
}

.voiceCard:hover{
  background: rgba(0, 24, 217, 0.15);
}

.voiceImg{
    position: absolute;
    left: 22px;
    top: 12px;
}

.voice{
    position: absolute;
    left: 20px;
    top: 40px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    color: #0017CD;
}

.nlp{
    position: absolute;
    left: 22px;
    top: 66px;

    font-family: Inter;
    font-style: light;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */


    color: #0017CD;
}

.technology{
    position: absolute;
    width: 108px;
    height: 37px;
    left: 290px;
    top: 529px;
    
    background: rgba(238, 60, 21, 0.1);
    border-radius: 4px;
}

.techTxt{
    position: absolute;
    left: 15px;
    top: 10px;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    

    color: #EE3C15;
}

.technology:hover{
  background: rgba(255, 64, 21, 0.719);
}

.business{
    position: absolute;
    width: 91px;
    height: 37px;
    left: 412px;
    top: 529px;
    
    background: rgba(112, 45, 255, 0.1);
    border-radius: 4px;
}

.businessTxt{
    position: absolute;
    left: 15px;
    top: 10px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    
    color: #6f2dffa4;
}

.business:hover{
  background: rgba(102, 31, 255, 0.452);
}

.foodEnt{
    position: absolute;
    width: 188px;
    height: 37px;
    left: 518px;
    top: 529px;
    
    background: rgba(65, 211, 160, 0.397);
    border-radius: 4px;
}

.foodEntTxt{
    position: absolute;
    left: 15px;
    top: 10px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    
    color: #41D39F;
}

.foodEnt:hover{
  background: rgba(77, 248, 188, 0.863)
}

.health{
    position: absolute;
    width: 151px;
    height: 37px;
    left: 722px;
    top: 529px;
    
    background: rgba(21, 198, 238, 0.315);
    border-radius: 4px;
}

.healthTxt{
    position: absolute;
    left: 15px;
    top: 10px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    
    color: #15C7EE;
}

.health:hover{
  background: rgba(18, 212, 255, 0.651);
}

.sport{
    position: absolute;
    width: 157px;
    height: 37px;
    left: 889px;
    top: 529px;
    
    background: rgba(0, 25, 217, 0.24);
    border-radius: 4px;
}

.sportTxt{
    position: absolute;
    left: 15px;
    top: 10px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    
    color: #0017CD;    
}

.sport:hover{
  background: rgba(0, 28, 238, 0.74);
}

.education{
    position: absolute;
    width: 97px;
    height: 37px;
    left: 1063px;
    top: 529px;
    
    background: rgba(238, 164, 21, 0.1);
    border-radius: 4px;
}

.eduTxt{
    position: absolute;
    left: 15px;
    top: 10px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    
    color: #EEA415;
    
}

.education:hover{
  background: rgba(252, 172, 12, 0.623);
}

.dot{
    position: absolute;
    left: 215px;
    right: 29px;
    top: 648.31px;
    bottom: 26.22px;
  }

  .settingsDiv:hover{
    background-color:rgba(255, 255, 255, 0.15);;
  }
  .exploreDiv:hover{
    background-color:rgba(255, 255, 255, 0.15);;
  }
  .analyticsDiv:hover{
    background-color:rgba(255, 255, 255, 0.15);;
  }
  .chat:hover{
    background-color: rgba(0, 0, 0, 0.04);;
  }
  .bell:hover{
    background-color: rgba(0, 0, 0, 0.04);;
  }
  
  .hoverr{
    position: absolute;
    left: 199px;
    right: 14px;
    top: 637px;
    bottom: 17px;
  
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    display: none;
  }
  .hover:hover .hoverr {
    display: block;
   }
   .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }