input:focus{
  border: 1px solid #EE2F15;
  box-shadow: 0px 0px 0px 4px rgba(238, 47, 21, 0.1);
  border-radius: 7px;
  outline: none;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    width: 1280px;
    height: 689px;
  }
  
  button {
    font-family: "poppins";
    outline: none;
  }
  
  input {
    outline: none;
  }
  a{
    cursor: pointer;
  }
  
  header {
    display: flex;
    width: 96%;
    height: 12vh;
    margin: auto;
    align-items: center;
  }
  #sideBar{
    position: absolute;
    width: 248px;
    height: 689px;
    left: 0px;
    top: 0px;
    
    background: #000634;
  }
#title{
  position: absolute;
left: 30.65%;
right: 43.95%;
top: 2.1%;
bottom: 94.75%;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;

color: #FFFFFF;
}
#subTitle{
  position: absolute;
left: 30.65%;
right: 6.85%;
top: 5.25%;
bottom: 92.39%;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 18px;

color: rgba(255, 255, 255, 0.5);
}
#logo{
position: absolute;
width: 48px;
height: 48px;
left: 20px;
top: 11px;
}
.dashDiv{
  position: absolute;
  left: 14px;
  right: 15px;
  top: 89px;
  bottom: 558px;
  width: 219px;
  height: 42px;

  background: #000634;
  border-radius: 5px;
}
.dashDiv:hover{
  background-color:rgba(255, 255, 255, 0.15);;
}
#hDash{
  position: absolute;
  left: 62px;
  right: 72px;
  top: 10px;
  bottom: 12px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  
  color: rgba(255, 255, 255, 0.5);
}
.lDash{
  position: absolute;
  left: 21px;
  right: 180px;
  top: 10px;
  bottom: 215px;
}
.firesDiv{
  position: absolute;
  left: 14px;
  right: 15px;
  top: 141px;
  bottom: 506px;
  width: 219px;
  height: 42px;
  
  background: #EE3C15;
  border-radius: 5px;
}
.hFires{
  position: absolute;
  left: 62px;
  right: 119px;
  top: 12px;
  bottom: 11px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  
  color: #FFFFFF;
}
.lFires{
  position: absolute;
left: 21px;
right: 180px;
top: 12px;
bottom: 12px;
}
.analyticsDiv{
  position: absolute;
  left: 14px;
  right: 15px;
  top: 193px;
  bottom: 454px;
  width: 219px;
  height: 42px;
  
  background: #000634;
  border-radius: 5px;
}
.lAnalytics{
  position: absolute;
  left: 21px;
  right: 180px;
  top: 11px;
  bottom: 12px;
  
}
.hAnalytics{
  position: absolute;
  left: 62px;
  right: 84px;
  top: 12px;
  bottom: 11px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  
  color: rgba(255, 255, 255, 0.5);
  
}
.exploreDiv{
  position: absolute;
  left: 14px;
  right: 15px;
  top: 247px;
  bottom: 400px;
  width: 219px;
  height: 42px;
  
  background: #000634;
  border-radius: 5px;
}
.lExplore{
  position: absolute;
  left: 21px;
  top: 11px;
  right: 180px;
  bottom: 54px;

}
.hExplore{
  position: absolute;
  left: 62px;
  right: 98px;
  top: 12px;
  bottom:11px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  
  color: rgba(255, 255, 255, 0.5);
}
.settingsDiv{
  position: absolute;
  left: 14px;
  right: 15px;
  top: 301px;
  bottom: 346px;
  width: 219px;
  height: 42px;
  
  background: #000634;
  border-radius: 5px;
}
.lSettings{
  position: absolute;
  left: 21px;
  right: 180px;
  top: 11px;
  bottom: 1px;

}
.hSettings{

  position: absolute;
  left: 63px;
  right: 91px;
  top: 11px;
  bottom: 12px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  
  color: rgba(255, 255, 255, 0.5);
}
.profPic{
  position: absolute;
  left: 22px;
  right: 186px;
  top: 630.65px;
  bottom: 18.35px;
  
  background: url(photo-1529665253569-6d01c0eaf7b6.jpg);
  border-radius: 100px;
}
.name{
  position: absolute;
  left: 77px;
  right: 65px;
  top: 636px;
  bottom: 34.1px;
  
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  
  color: #FFFFFF;
}
.role{
  position: absolute;
  left: 77px;
  right: 95px;
  top: 656px;
  bottom: 19.44px;
  
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 15px;
  
  color: rgba(255, 255, 255, 0.5);
}
.topBar{
  position: absolute;
  width: 1032px;
  height: 109px;
  left: 248px;
  top: 0px;
  
  background: #F9F9F9;
}
.firesHead{
  position: absolute;
  left: 42px;
  right: 947px;
  top: 22px;
  bottom: 65px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  
  
  color: #000634;
}
.hHOme{
  position: absolute;
  left: 42px;
  right: 956px;
  top: 78px;
  bottom: 16px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  
  text-transform: capitalize;
  
  color: #702DFF;
}
.hSparks{
  position: absolute;
  left: 114px;
  right: 878px;
  top: 78px;
  bottom: 16px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  
  text-transform: capitalize;
  
  color: #B9C0C9;
}
.hData{
  position: absolute;
  left: 196px;
  right: 809px;
  top: 78px;
  bottom: 16px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  
  text-transform: capitalize;
  
  color: #B9C0C9;
}
.hPreferences{
  position: absolute;
  left: 262px;
  right: 700px;
  top: 78px;
  bottom: 16px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  
  text-transform: capitalize;
  
  color: #B9C0C9;
}
.upgradeDiv{
  
  background: #EE3C15;
  border-radius: 5px;

  position: absolute;
  left: 672px;
  right: 235px;
  top: 14px;
  bottom: 58px;
  position: absolute;
  width: 125px;
  height: 37px;

}
.upgrade{
  position: absolute;
  left: 47px;
  top: 9px;
  right: 20px;
  bottom: 11px;
  
  color: #FFFFFF;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  
}
.chat{
  position: absolute;
  left: 834px;
  right: 163px;
  top: 17px;
  bottom: 57px;
  border-radius: 5px;
}
.bell{
  position: absolute;
  left: 907px;
  right: 107.84px;
  top: 22px;
  bottom: 67px;
}
.pfp2{
  position: absolute;
  left: 950px;
  right: 52px;
  top: 14px;
  bottom: 65px;
  border-radius: 100px;
}
.upgradeP{
  position: absolute;
  left: 17px;
  right: 94px;
  top: 9px;
  bottom: 10px;
  
}
.chatP{
  position: absolute;
  left: 7px;
  right: 5.98px;
  top: 7px;
  bottom: 8px;
}
.plus{
  position: absolute;
  width: 50px;
  height: 50px;
  left: 1187px;
  top: 603px;
  border-radius: 50%;
  
  background: #702DFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}
.plusimg{
  position: absolute;
  left: 17px;
  right: 17px;
  top: 17px;
  bottom: 17px;

}
.upgradeDiv:hover{
  background-color: #DC481A;
}
.line{
  position: absolute;
  left: 35px;
  top: 109px;
  right: 945px;
}
.arroww{
  position: absolute;
  left: 1003px;
  right: 18px;
  top: 29px;
  bottom: 74px;
}
.filter{
  position: absolute;
  left: 827px;
  top: 70px;
}
.dot{
  position: absolute;
  left: 215px;
  right: 29px;
  top: 648.31px;
  bottom: 26.22px;
}
.settingsDiv:hover{
  background-color:rgba(255, 255, 255, 0.15);;
}
.exploreDiv:hover{
  background-color:rgba(255, 255, 255, 0.15);;
}
.analyticsDiv:hover{
  background-color:rgba(255, 255, 255, 0.15);;
}
.chat:hover{
  background-color: rgba(0, 0, 0, 0.04);;
}
.bell:hover{
  background-color: rgba(0, 0, 0, 0.04);;
}

.hoverr{
  position: absolute;
  left: 199px;
  right: 14px;
  top: 637px;
  bottom: 17px;

  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  display: none;
}
.hover:hover .hoverr {
  display: block;
 }
 .logout{
  position: absolute;
  width: 163px;
  height: 46px;
  left: 215px;
  top: 575px;

  background: rgb(255, 255, 255);
  display: none;
 }
 .logoutP{
  position: absolute;
  left: 21px;
  right: 124px;
  top: 14px;
  bottom: 14px;

}
 .logoutH{
  position: absolute;
  left: 67px;
  right: 47px;
  top: 14px;
  bottom: 15px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  
  color: #EE2F15;
 }
  .back{
  display: none;

  position: absolute;
  width: 248px;
  height: 71px;
  left: 0px;
  top: 0px;

}
.arrow2{
  position: absolute;
  left: 213px;
  right: 24px;
  top: 22px;
  bottom: 43px;
}
.survey{
  position: absolute;
  width: 243px;
  height: 108px;
  left: 260px;
  top: 13px;

  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  z-index: 1;
  display: none;
}
.surveyhead{
  position: absolute;
  height: 15px;
  width: 148px;
  left: 41px;
  top: 24px;  

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  
  
  color: #EE2F15;
}
.surveybody{
  position: absolute;
  left: 41px;
  right: 14px;
  top: 45px;
  bottom: 64.32%;
  width: 188px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  
  color: #000634;
  
}
.hosthead{
  position: absolute;
  height: 14.18316650390625px;
  width: 123px;
  left: 42px;
  top: 32px;  
  
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  
  
  color: #702DFF;
}
.hostbody{
  position: absolute;
  height: 33px;
  width: 187px;
  left: 42px;
  top: 57px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  
  color: #000634;
}
.host{
  position: absolute;
  width: 243px;
  height: 108px;
  left: 260px;
  top: 121px;

  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  z-index: 2;
  display: none;
}
.check{
  left: 16px;
  right: 212px;
  top: 19px;
  bottom: 54px;
}
.image{
  position: absolute;
  left: 16px;
  right: 212px;
  top: 19px;
  bottom: 54px;
}
.part1{
  position: absolute;
  width: 1032px;
  height: 59px;
  left: 248px;
  top: 162px;

  background: rgba(255, 255, 255, 1);
  z-index: 7;
}
.topp{
  position: absolute;
  left: 248px;
  top: 109px;
  bottom: 527px;
  z-index: 3;
  
  background: #FFFFFF;
}
.fire1{
  position: absolute;
  height: 17px;
  width: 247px;
  left: 145px;
  top: 21px;  
  right: 640px;
  bottom: 21px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  
  color: #000634;
}
.response1{
  position: absolute;
  left: 481px;
  right: 524px;
  top: 21px;
  bottom: 21px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  
  color: #000634;
}
.prog1{
  position: absolute;
  left: 584px;
  top: 26px;
  
}
.goal1{
  position: absolute;
  left: 711px;
  top: 21px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  
  color: #000634;
}
.fireName{
  position: absolute;
  left: 39px;
  top: 85px;

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  color: #000634;
}

.enterNewSurvey{
  position: absolute;
  left: 39px;
  top: 112px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  
  color: #000634;
}
.type{
  position: absolute;
  left: 778px;
  right: 155px;
  top: 14px;
  bottom: 15px;
  width: 99px;
  height: 30px;
  
  background:rgba(238, 60, 21, 1);
  border-radius: 4px;
}
.typeI{
  position: absolute;
  right: 19px;
  top: 8px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */


  color: white;
}

.fireInput{
  position: absolute;
  left: 39px;
  top: 142px;
  width: 453px;
  height: 45px;

  background: #FFFFFF;
  border: 1px solid rgba(195, 202, 211, 0.6);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  padding-left: 15px;
}

.responseGoal{
  position: absolute;
  left: 516px;
  top: 85px;

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  color: #000634;
}

.responseLimit{
  position: absolute;
  left: 516px;
  top: 115px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */


  color: #B9C0C9;
}

.responseInput{
  position: absolute;
  left: 516px;
  top: 142px;
  width: 375px;
  height: 45px;

  background: #FFFFFF;
  border: 1px solid rgba(195, 202, 211, 0.6);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  padding-left: 15px;
}

.fireTypeTxt{
  position: absolute;
  left: 39px;
  top: 212px;

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  color: #000634;
}

.chooseSurvey{
  position: absolute;
  left: 39px;
  top: 238px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  color: #B9C0C9;
}

.widescreenCard{
  position: absolute;
  width: 241px;
  height: 91px;
  top: 266px;
  left: 39px;

  background: rgba(238, 60, 21, 0.1);
  border-radius: 4px;
}

.widescreenImg{
  position: absolute;
  left: 15px;
  top: 12px;

  border: 2px dashed #EE3C15;
  border-radius: 2px;
}

.eightHundred{
  position: absolute;
  left: 15px;
  top: 44px;

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  color: #EE3C15;
}

.widescreen{
  position: absolute;
  left: 15px;
  top: 69px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;

  color: #EE3C15;
}

.squareCard{
  position: absolute;
  left: 328px;
  top: 266px;
  width: 243px;
  height: 91px;
  
  background: rgba(112, 45, 255, 0.1);;
  border-radius: 4px;
}

.squareImg{
  position: absolute;
  left: 20px;
  top: 14px;
  
  border: 2px dashed #702DFF;
  border-radius: 2px;
}

.fourhundred{
  position: absolute;
  left: 18px;
  top: 44px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  
  color: #702DFF;
}

.square{
  position: absolute;
  left: 20px;
  top: 66px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  
  
  color: #702DFF;
}

.voiceCard{
  position: absolute;
  left: 611px;
  top: 266px;
  width: 243px;
  height: 91px;
  
  background: rgba(0, 24, 217, 0.1);
  border-radius: 4px;
}

.voiceImg{
  position: absolute;
  left: 19px;
  top: 11px;
}

.voice{
  position: absolute;
  left: 20px;
  top: 40px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  
  color: #0017CD;
}

.nlp{
  position: absolute;
  left: 20px;
  top: 66px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  color: #0017CD;
}

.surveyTopic{
  position: absolute;
  left: 39px;
  top: 387px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  
  color: #000634;
}

.focusTopic{
  position: absolute;
  left: 39px;
  top: 414px;
  
  
  color: #FFFFFF;
}
.resp1{
  position: absolute;
  left: 939px;
  top: 21px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  
  color: #000634;
  
}
.fire2{
  position: absolute;
  height: 17px;
  width: 247px;
  left: 145px;
  top: 21px;  
  right: 640px;
  bottom: 21px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  
  color: #000634;
}
.response2{
  position: absolute;
  left: 481px;
  right: 524px;
  top: 21px;
  bottom: 21px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  
  color: #000634;
}
.prog2{
  position: absolute;
  left: 584px;
  top: 26px;
  
}
.goal2{
  position: absolute;
  left: 711px;
  top: 21px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  
  color: #000634;
}
.type1{
  position: absolute;
  left: 778px;
  right: 155px;
  top: 14px;
  bottom: 15px;
  width: 99px;
  height: 30px;
  
  background: rgba(0, 23, 205, 1);
  border-radius: 4px;
}
.typeI2{
  position: absolute;
  right: 12px;
  top: 7px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  
  
  color: #FFFFFF;
}
.resp2{
  position: absolute;
  left: 939px;
  top: 21px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  
  color: #000634;
  
}.part2{
  position: absolute;
  width: 1032px;
  height: 59px;
  left: 248px;
  top: 221px;

  background: rgba(255, 255, 255, 1);
}
.fire3{
  position: absolute;
  height: 17px;
  width: 247px;
  left: 145px;
  top: 21px;  
  right: 640px;
  bottom: 21px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  
  color: #000634;
}
.response3{
  position: absolute;
  left: 481px;
  right: 524px;
  top: 21px;
  bottom: 21px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  
  color: #000634;
}
.prog3{
  position: absolute;
  left: 584px;
  top: 26px;
  
}
.goal3{
  position: absolute;
  left: 711px;
  top: 21px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  
  color: #000634;
}
.type3{
  position: absolute;
  left: 778px;
  right: 155px;
  top: 14px;
  bottom: 15px;
  width: 99px;
  height: 30px;
  
  background: rgba(0, 23, 205, 1);
  border-radius: 4px;
}
.typeI3{
  position: absolute;
  right: 12px;
  top: 7px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  
  
  color: white;
}

.technology{
  position: absolute;
  width: 108px;
  height: 37px;
  left: 290px;
  top: 529px;
  
  background: #EE3C15;
  border-radius: 4px;
}

.techTxt{
  position: absolute;
  left: 15px;
  top: 10px;

  color: #FFFFFF;
}
.resp3{
  position: absolute;
  left: 939px;
  top: 21px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */


  color: black;
}

.business{
  position: absolute;
  width: 91px;
  height: 37px;
  left: 412px;
  top: 529px;
  
  background: rgba(112, 45, 255, 0.1);
  border-radius: 4px;
}

.businessTxt{
  position: absolute;
  left: 15px;
  top: 10px;
  
  
  color: #000634;
  
}
.part3{
  position: absolute;
  width: 1032px;
  height: 59px;
  left: 248px;
  top: 280px;

  background: rgba(255, 255, 255, 1);
}
.fire4{
  position: absolute;
  height: 17px;
  width: 247px;
  left: 145px;
  top: 21px;  
  right: 640px;
  bottom: 21px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  
  color: black;
}

.foodEnt{
  position: absolute;
  width: 188px;
  height: 37px;
  left: 518px;
  top: 529px;
  
  background: rgba(65, 211, 159, 0.1);
  border-radius: 4px;
}

.foodEntTxt{
  position: absolute;
  left: 15px;
  top: 10px;
  color: #000634;
}
.response4{
  position: absolute;
  left: 481px;
  right: 524px;
  top: 21px;
  bottom: 21px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  
  color: black;
}

.health{
  position: absolute;
  width: 151px;
  height: 37px;
  left: 722px;
  top: 529px;
  
  background: rgba(21, 199, 238, 0.1);
  border-radius: 4px;
}

.healthTxt{
  position: absolute;
  left: 15px;
  top: 10px;
  
  color: #000634;
}
.prog4{
  position: absolute;
  left: 584px;
  top: 26px;
  
}
.goal4{
  position: absolute;
  left: 711px;
  top: 21px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  
  color: black;
}

.sport{
  position: absolute;
  width: 157px;
  height: 37px;
  left: 889px;
  top: 529px;
  
  background: rgba(0, 24, 217, 0.1);
  border-radius: 4px;
}

.sportTxt{
  position: absolute;
  left: 15px;
  top: 10px;
  color: #000634;
}
.type4{
  position: absolute;
  left: 778px;
  right: 155px;
  top: 14px;
  bottom: 15px;
  width: 99px;
  height: 30px;
  
  background: rgba(0, 23, 205, 1);
  border-radius: 4px;
}
.typeI4{
  position: absolute;
  right: 19px;
  top: 8px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  
  color: white;    
}

.education{
  position: absolute;
  width: 97px;
  height: 37px;
  left: 1063px;
  top: 529px;
  
  background: rgba(238, 164, 21, 0.1);
  border-radius: 4px;
}

.eduTxt{
  position: absolute;
  left: 15px;
  top: 10px;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  
  
  color: #FFFFFF;
}
.resp4{
  position: absolute;
  left: 939px;
  top: 21px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  
  color: black;
  
}

.hoverr{
  position: absolute;
  left: 199px;
  right: 14px;
  top: 637px;
  bottom: 17px;

  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  display: none;
}
.hover:hover .hoverr {
  display: block;
  color: #000634;
  
}
.part4{
  position: absolute;
  width: 1032px;
  height: 59px;
  left: 248px;
  top: 339px;

  background: rgba(255, 255, 255, 1);
}
.line1{
  position: absolute;
  left: 248px;
  top: 162px;
  z-index: 7;
}
.line2{
  position: absolute;
  left: 248px;
  top: 221px;
  z-index: 6;
}
.line3{
  position: absolute;
  left: 248px;
  top: 279px;
  z-index: 5;
}
.line4{
  position: absolute;
  left: 248px;
  top: 339px;
  z-index: 4;
}
.line5{
  position: absolute;
  left: 248px;
  top: 398px;
}
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #702DFF;;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #702DFF;;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(17px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 14px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 27px;
    left: 3%;
    top: 30%;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
