<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Wildfire Dashboard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/interior/dashboard/dashboard.css">
        <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="sideBar" id="sideBar">
            <img class="leftArrow" src="/interior/dashboard/leftArrow.svg">
            <h1 id = 'title' class="title">Wildfire</h1>
            <h1 id = 'subTitle' class="subTitle">Surveyer's Portal</h1>
            <img id = 'logo' class="logo" src="/interior/fires/Group 2.svg">
                <div class="buttonsDiv">
                    <a href="/dashboard">
                        <div class="dashDiv" id = 'dashDiv'>
                            <img class="lDash" id="lDash" src="/interior/dashboard/dashImg.svg">
                            <h1 class="hDash" id = 'hDash'>Dashboard</h1>
                        </div>
                    </a>
                    <a href="/fires">
                        <div class="firesDiv">
                            <img class="lFires" src="/interior/dashboard/firesImg.svg">
                            <h1 class="hFires">Fires</h1>
                        </div>
                    </a>
                    <a href="/analytics">
                        <div class="analyticsDiv">
                            <img class="lAnalytics" src="/interior/fires/analytics.svg">
                            <h1 class="hAnalytics">Analytics</h1>
                        </div>
                    </a>
                    <a href="/explore">
                        <div class="exploreDiv">
                            <img class="lExplore" src="/interior/fires/explore.svg">
                            <h1 class="hExplore">Explore</h1>
                        </div>
                    </a>
                    <a href="settings.hbs">
                        <div class="settingsDiv">
                            <img class="lSettings" src="/interior/fires/settings.svg">
                            <h1 class="hSettings">Settings</h1>
                        </div>
                    </a> 
                </div>
                <img class="profPic" src="/interior/fires/jeff.svg">
                <h1 class="name">Jeffrey Haynes</h1>
                <h1 class="role">Marketing Lead</h1>
                <a href="">
                    <div class= 'hover'>
                        <img class="dot" src="/interior/fires/dot.svg" alt="">
                        <img class="hoverr" src="/interior/fires/hoverr.svg" alt="">
                    </div>
                </a>
            </div>
            <div class="topBar">
                <h1 class="firesHead">Dashboard</h1>
                <img class="bottomLine" src="interior/dashboard/bottomLine.svg">
                <a href="">
                    <div class="upgradeDiv">
                        <h1 class="upgrade">Upgrade</h1>
                        <img class='upgradeP' src="/interior/fires/bolt.svg" alt="">
                    </div>
                </a>
                <a href="">  
                    <div class="chat">
                    <img class = 'chatP' src="/interior/fires/chat.svg" alt="">
                    </div>
                </a>

                <a href=""> 
                    <img class = 'bell' src="/interior/fires/bell.svg" alt="">
                    <img class="pfp2" src="/interior/fires/jeff.svg" alt="">
                    <img class="arroww" src = '/interior/fires/arrow.svg' alt="">
                </a>
            </div>
            <div class="charts">
                <div class="responses">
                    <div data-aos-once='true' data-aos='fade-up' data-aos-offset='0' data-aos-duration='700' class="totalNew">
                        <h1 class="txt1">TOTAL NEW RESPONSES</h1>
                        <h1 class="twoHundred">240</h1>
                        <h1 class="percentage1">+3.75%</h1>
                        <img class="plusArrow" src="/interior/dashboard/plusArrow.svg">
                    </div>
                    <div data-aos-once='true' data-aos='fade-up' data-aos-offset='0' data-aos-duration='700' data-aos-delay='100'class="responseRate">
                        <h1 class="txt2">RESPONSE RATE</h1>
                        <h1 class="thirtypct">34.7%</h1>
                        <h1 class="percentage2">-2.75%</h1>
                        <img class="plusArrow2" src="/interior/dashboard/minusArrow.svg">
                    </div>
                    <div data-aos-once='true' data-aos='fade-up' data-aos-offset='0' data-aos-duration='700' data-aos-delay='200' class="totalViews">
                        <h1 class="txt3">TOTAL VIEWS</h1>
                        <h1 class="sixHundred">691</h1>
                        <h1 class="percentage3">+2.08%</h1>
                        <img class="plusArrow3" src="/interior/dashboard/plusArrow.svg">
                    </div>
                </div>
                <div data-aos-once='true' data-aos='fade-up' data-aos-offset='0' data-aos-duration='700' data-aos-delay='400'class="dailyResponses">
                    <h1 class="txt4">Daily Survey Responses</h1>
                    <img src='/interior/dashboard/dashArea.svg' class='dashArea'>
                </div>
                <div data-aos-once='true' data-aos='fade-up' data-aos-offset='0' data-aos-duration='700' data-aos-delay='500'class="rightSideCharts">
                    <img class="donutChart" src="/interior/dashboard/rightSideChart.svg">
                    <h1 class="totalResponses">TOTAL RESPONSES</h1>
                    <h1 class="numerator">1,248</h1>
                    <h1 class="denominator">/ 3,000</h1>
                    <div class="conferencingAll">
                        <h1 class="conferencing">COVID-19 Conferencing Solutions Survey</h1>
                        <h1 class="conferencingData">246 / 500</h1>
                        <img class="redGraph" src="/interior/dashboard/redGraph.svg">
                    </div>
                    <div class="funeralAll">
                        <h1 class="funeral">Funeral Home Choice Survey</h1>
                        <h1 class="funeralData">134 / 260</h1>
                        <img class="yellowGraph" src="/interior/dashboard/yellowGraph.svg">
                    </div>
                    <div class="deviceAll">
                        <h1 class="device">Student Device Choice Survey</h1>
                        <h1 class="deviceData">450 / 600</h1>
                        <img class="blackGraph" src="/interior/dashboard/blackGraph.svg">
                    </div>
                    <div class="audioAll">
                        <h1 class="audio">Audio Quality Survey</h1>
                        <h1 class="audioData">221 / 250</h1>
                        <img class="tealGraph" src="/interior/dashboard/tealGraph.svg">
                    </div>
                </div>
                <div data-aos-once='true' data-aos='fade-up' data-aos-offset='0' data-aos-duration='700' data-aos-delay='600' class="subscriptionCharges">
                    <h1 class="subscriptionTitleTxt">Subscription Charges</h1>
                    <h1 class="duePayment">Payments due for this past week</h1>
                    <img class="xAxis" src="/interior/dashboard/xAxis.svg">
                    <img class="yAxis" src="/interior/dashboard/yAxis.svg">
                    <img class="subscriptionChart" src="/interior/dashboard/subscriptionChart.svg">
                    <h1 class="total">In Total</h1>
                    <h1 class="bal">$150.86</h1>
                </div>
                <divdata-aos-once='true' data-aos='fade-up' data-aos-offset='0' data-aos-duration='700' data-aos-delay='700' class="popResponse">
                    <h1 class="popResponseTxt">Popular Response Categories</h1>
                    <img class="popResponseChart" src="interior/dashboard/popResponseChart.svg">
                    <div class="legends">
                        <img class="covidKey" src="/interior/dashboard/covidKey.svg">
                        <h1 class="covidTxt">COVID-19 Related</h1>
                        <img class="techKey" src="/interior/dashboard/techKey.svg">
                        <h1 class="techTxt">Technology</h1>
                        <img class="foodKey" src="/interior/dashboard/foodKey.svg">
                        <h1 class="foodTxt">Food and Entertainment</h1>
                        <img class="healthKey" src="/interior/dashboard/healthKey.svg">
                        <h1 class="healthTxt">Health and Safety</h1>
                    </div>
                </div>
                <div data-aos-once='true' data-aos='fade-up' data-aos-offset='0' data-aos-duration='700' data-aos-delay='800' class="automationTrig">
                    <img class="robot" src="/interior/dashboard/robot.svg">
                    <h1 class="noTrig">No automation triggers created yet</h1>
                    <h1 class="metricNoti">Create metric monitoring and notification triggers with a cick of a button.</h1>
                    <a href="">
                        <button class="getStartedAuto">Get started with automation</button>
                    </a>
                </div>
            </div>
        </div>
        <script src="/interior/dashboard/dashboard.js"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
    </body>
</html>