<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Wildfire Sign Up</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/interior/data/data.css">
        <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <div class="sideBar" id="sideBar">
            <img class="leftArrow" src="/interior/dashboard/leftArrow.svg">
            <h1 id = 'title' class="title">Wildfire</h1>
            <h1 id = 'subTitle' class="subTitle">Surveyer's Portal</h1>
            <img id = 'logo' class="logo" src="/interior/fires/Group 2.svg">
                <div class="buttonsDiv">
                    <a href="dashboard.hbs">
                        <div class="dashDiv" id = 'dashDiv'>
                            <img class="lDash" id="lDash" src="/interior/fires/dash.svg">
                            <h1 class="hDash" id = 'hDash'>Dashboard</h1>
                        </div>
                    </a>
                    <a href="fires.hbs">
                        <div class="firesDiv">
                            <img class="lFires" src="/interior/fires/fire.svg">
                            <h1 class="hFires">Fires</h1>
                        </div>
                    </a>
                    <a href="analytics.hbs">
                        <div class="analyticsDiv">
                            <img class="lAnalytics" src="/interior/fires/analytics.svg">
                            <h1 class="hAnalytics">Analytics</h1>
                        </div>
                    </a>
                    <a href="explore.hbs">
                        <div class="exploreDiv">
                            <img class="lExplore" src="/interior/fires/explore.svg">
                            <h1 class="hExplore">Explore</h1>
                        </div>
                    </a>
                    <a href="settings.hbs">
                        <div class="settingsDiv">
                            <img class="lSettings" src="/interior/fires/settings.svg">
                            <h1 class="hSettings">Settings</h1>
                        </div>
                    </a> 
                </div>
                <img class="profPic" src="/interior/fires/jeff.svg">
                <h1 class="name">Jeffrey Haynes</h1>
                <h1 class="role">Marketing Lead</h1>
                <a href="">
                    <div class= 'hover'>
                        <img class="dot" src="/interior/fires/dot.svg" alt="">
                        <img class="hoverr" src="/interior/fires/hoverr.svg" alt="">
                    </div>
                </a>
            </div>
            <div class="topBar">
                <h1 class="firesHead">Fires</h1>
                <a href="">
                    <div class="covidPop">
                        <h1 class="covidPopulationTxt">COVID-19 Population..</h1>
                        <img class="topArrowDown" src="/interior/sparks/downArrow.svg">
                    </div>
                </a>
                <h1 class="hHOme">Home</h1>
                <img class = 'line' src="/interior/fires/line.svg" alt="" />
                <div class="lineHome"></div>
                <h1 class="hSparks">Sparks</h1>
                <div class="lineSparks"></div>
                <h1 class="hData">Data</h1>
                <div class="lineData"></div>
                <h1 class="hPreferences">Preferences</h1>
                <div class="lineSparks"></div>
                
                <a href="">
                <div class="upgradeDiv">
                    <h1 class="upgrade">Upgrade</h1>
                    <img class='upgradeP' src="/interior/fires/bolt.svg" alt="">
                </div>
        
                </a>
                <a href="">  
                <div class="chat">
                    <img class = 'chatP' src="/interior/fires/chat.svg" alt="">
                </div>
                </a>
                <a href=""> 
                <img class = 'bell' src="/interior/fires/bell.svg" alt="">
                <img class="pfp2" src="/interior/fires/jeff.svg" alt="">
                <img class="arroww" src ='/interior/data/arrow.svg' alt="">
                </a> 
        </div>
        <img class="topText" src="/interior/data/Component 13topText.svg"/>
        <div class="topLine"></div>
        <div class="topLine2"></div>
        <div class="horLine"></div>

        <div class="jan17Div">
            <img class="oneLogo" src="/interior/data/one.svg"/>
            <h1 class="jan17">Jan 17</h1>
            <h1 class="qaAnswered">Will you voluntarily take the two doses of..</h1>
            <div class="respDiv"></div>
                <h1 class="respText">Yes, I plan to take the two doses of the ..</h1>
            <img class="drawLogo" src="/interior/data/draw.svg" />
            <img class="trashLogo" src="/interior/data/trash.svg" />
        </div>
        <div class="jan17Div2">
            <img class="oneLogo" src="/interior/data/one.svg"/>
            <h1 class="jan17">Jan 17</h1>
            <h1 class="qaAnswered">Will you voluntarily take the two doses of..</h1>
            <div class="respDiv"></div>
                <h1 class="respText">Yes, I plan to take the two doses of the ..</h1>
            
            <img class="drawLogo" src="/interior/data/draw.svg" />
            <img class="trashLogo" src="/interior/data/trash.svg" />
        </div>
        </div>
        <script src="/interior/data/data.js"></script>
    </body>
</html>