<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/exterior/style.css">
    </head>
    <body>
        <div id='back'>Welcome Page
            <h1>Welcome to Wildfires</h1>
        </div>
        <script src="/js/exterior/index.js"></script>
    </body>
</html>