input:focus{
    border: 1px solid #EE2F15;
    box-shadow: 0px 0px 0px 4px rgba(238, 47, 21, 0.1);
    border-radius: 7px;
    outline: none;
  }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

.wildfireImg{
    position: absolute;
    width: 58px;
    height: 58px;
    left: 25px;
    top: 31px;
}

.title{
    position: absolute;
    width: 321px;
    height: 57px;
    left: 479px;
    top: 101px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 57px;

    color: #000847;
}

.titleDesc{
    position: absolute;
    width: 467px;
    height: 44px;
    left: 406px;
    top: 180px;

    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #000847;
}

.emailInput{
    position: absolute;
    width: 552px;
    height: 55px;
    left: 364px;
    top: 277px;
    font-family: Inter;
    border: 1px solid #C3CAD3;
    box-sizing: border-box;
    border-radius: 7px;
    padding-left: 15px;
}

.emailInput::placeholder{
    color: #C3CAD3;
}

.passInput{
    position: absolute;
    width: 552px;
    height: 55px;
    left: 364px;
    top: 355px;
    font-family: Inter;
    border: 1px solid #C3CAD3;
    box-sizing: border-box;
    border-radius: 7px;
    padding-left: 15px;
}

.passInput::placeholder{
    color: #C3CAD3;
}

.entryError{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 937px;
    top: 285px;
    display: none;
}

.submitBtn{
    position: absolute;
    width: 552px;
    height: 55px;
    left: 364px;
    top: 444px;
    font-weight: 500;
    font-family: Poppins;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;

    background: linear-gradient(180deg, #EA5A09 0%, #EE2F15 100%);
    font-family: Poppins;
    border-radius: 5px;
    color: white;
    border: none;
}

.submitBtn:hover{
    background: linear-gradient(180deg, rgba(234, 90, 9, 0.8) 0%, rgba(238, 47, 21, 0.8) 100%);
    border-radius: 5px;
}

.forgotPassTxt{
    position: absolute;
    left: 758px;
    right: 364px;
    top: 512px;
    bottom: 233px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    display: none;
}

.leftOr{
    position: absolute;
    width: 250px;
    height: 0px;
    left: 364px;
    top: 558px;

    border: 1px solid #C3CAD3;
}

.rightOr{
    position: absolute;
    width: 250px;
    height: 0px;
    left: 666px;
    top: 558px;

    border: 1px solid #C3CAD3;
}

.orTxt{
    position: absolute;
    left: 630px;
    right: 630px;
    top: 548px;
    bottom: 195px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #C3CAD3;
}

.google{
    position: absolute;
    left: 364px;
    right: 652px;
    top: 589px;
    bottom: 118px;

    background: #000847;
    border-radius: 5px;
    width: 264px;
    height: 55px;
    color: white;
    font-weight: 400;
    border: none;
    padding-left: 20px;
}

.googleLogo{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 389px;
    right: 871px;
    top: 607px;
    bottom: 135px;
}

.github{
    position: absolute;
    width: 264px;
    height: 55px;
    width: 264px;
    height: 55px;
    left: 652px;
    top: 589px;
    
    background: #000847;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    border: none;
    padding-left: 20px;
}

.githubLogo{
    position: absolute;
    top: 607px;
    left: 677px;
}

.needAcct{
    position: absolute;
    left: 53.59%;
    right: 28.44%;
    top: 74.17%;
    bottom: 23.6%;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #000847;
}

.needAcct:hover{
    cursor: pointer;
}